footer {
  display: flex;
  justify-content: center;
  background-image: url('/src/assets/images/footer-background.png');
  background: url('/src/assets/images/noise_transparent@2x.png'),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%) #211f20;
  overflow: hidden;

  & a {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    color: var(--color-primary);
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  & p {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
    margin: 0;
    padding: 0;
  }
}

.footer {
  &__container {
    display: flex;
    padding: 0;
    width: 100%;
  }

  &__title {
    color: var(--color-light-xl);
    margin-top: 56px;
  }
  &__email {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__phone {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 60px;
    margin-top: 45px;
  }
  &__address {
    & svg {
      width: 22px;
      height: 32px;
      z-index: 10;
      flex-shrink: 0;
    }
  }
  &__address2 {
    margin-bottom: 60px;
    margin-top: 35px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    max-width: 302px;
    margin-right: 140px;
    & h3 {
      margin-bottom: 43px;
    }
  }
  &__locations {
    display: flex;
    flex-direction: column;
    max-width: 302px;
    & h3 {
      margin-bottom: 40px;
    }
  }
  &__img {
    width: 300px;
    margin-left: auto;

    align-self: end;
  }
}
@media (max-width: 1279px) {
  .footer {
    &__container {
      flex-wrap: wrap;
      gap: 0px;
      padding: 0 64px;
      max-width: 708px;
      justify-content: space-around;
    }
    &__contacts {
      margin-right: 0px;

      & h3 {
      }
    }
    &__locations {
    }
    &__img {
      margin: 0 auto;
    }
  }

  &__img {
    width: 25% !important;
  }
}

@media (max-width: 767px) {
  .footer {
    &__container {
      flex-direction: column;
      align-items: center;
    }
    &__contacts {
      width: 100%;

      & h3 {
        text-align: center;
        align-self: center;
      }
    }
    &__locations {
      width: 100%;

      & h3 {
        text-align: center;
        align-self: center;
      }
    }
  }
}

@media (max-width: 400px) {
  .footer {
    &__container {
      padding-top: 30px;
      gap: 40px;
      justify-content: center;
    }
    &__phone {
      margin-bottom: 0;
    }
    &__title {
      margin-top: 0;
      max-width: 270px;
    }
    &__address2 {
      margin-bottom: 0;
    }
  }
}
