.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: relative;

  &__logo {
    width: 184px;
    height: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    transition: opacity 0.4s linear;
    & h1 {
      margin: 0;
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 110%;
      color: var(--color-primary);
    }
    & p {
      margin: 0;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      color: var(--color-light-xl);
      margin-left: 4px;
    }
  }
  &__nav-logo {
    position: absolute;
    left: 10px;
    top: 30px;
    display: none;
  }

  &__logo--black {
    width: 184px;
    height: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    & h1 {
      margin: 0;
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 110%;
      color: var(--color-dark-l);
    }
    & p {
      margin: 0;
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      color: var(--color-dark-3xl);
      margin-left: 4px;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
}

.header__nav {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: flex;
  gap: 35px;
  height: fit-content;
  transition: right 0.2s ease-out;
}
.nav-item {
  color: var(--color-dark-s);
  transition: color 0.2s linear;
  position: relative;
  &:hover {
    color: var(--color-light-s);
  }
  &::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 0px;
    background-color: var(--color-primary);
  }
}

.nav-item--active {
  color: var(--color-light-s);
  transition: color 0.2s linear;
  position: relative;
  &::after {
    content: '';
    left: 0;

    width: 100%;
    bottom: -2px;
    position: absolute;
    height: 3px;
    background-color: var(--color-primary);
  }
}

.header--light {
  padding: 30px 40px;
  position: sticky;
  top: 0;
  background-color: var(--color-light-xl);
  z-index: 1;
  &__logo--light {
    width: 184px;
    height: 60px;
  }
}

.header__nav--light {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  display: flex;
  gap: 35px;
  height: fit-content;
}
.nav-item--light {
  color: var(--color-dark-l);
  transition: color 0.2s linear;
  position: relative;

  &:hover {
    color: var(--color-dark-3xl);
  }

  &::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 0px;
    background-color: var(--color-primary);
  }
}
.header__container {
  max-width: 1200px;
}

.nav-item--light--active {
  color: var(--color-dark-3xl);
  transition: color 0.2s linear;
  position: relative;
  &:hover {
    color: var(--color-dark-3xl);
  }
  &::after {
    content: '';
    width: 100%;
    left: 0;
    bottom: -2px;

    position: absolute;
    height: 3px;
    background-color: var(--color-primary);
  }
}

.burger-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 43px;
  cursor: pointer;
  display: none;
  z-index: 50;
  transition: transform 0.2s linear;
  & svg {
    stroke: var(--color-primary);
  }
}

.burger-button--black {
  & svg {
    stroke: #000;
  }
}
.header__nav-logo {
  display: none;
}

@media (max-width: 1279px) {
  .header--light {
    padding: 30px 0;
  }
}
@media (max-width: 767px) {
  .header__nav {
    display: flex;
    z-index: 40;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(320px);
    min-width: 320px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;

    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 100vh;
    background-color: var(--color-dark-3xl);
    width: 320px;
    padding-top: 248px;
    animation: slide 0.3s ease-out;
    transition: transform 0.3s ease-out;

    &-wrapper {
      position: fixed;
      top: 0;
      right: 0;
      opacity: 0;
      height: 100vh;
      width: 100vw;
      background: rgba(41, 41, 41, 0.6);
      z-index: 0;
      transition: opacity 0.1s ease-out;
      pointer-events: none;
    }
    &-wrapper.active {
      pointer-events: all;
      opacity: 1;
      transition: opacity 0.1s ease-out;
    }
  }
  .header__nav-logo {
    position: absolute;
    left: 10px;
    top: 30px;
    display: flex;
    opacity: 0;
    transition: opacity 0.2s linear;
  }
  .burger-button {
    display: flex;
  }
  .header__nav--light {
    background-color: var(--color-light-l);
  }
  .header__container {
    padding: 30px 0px;
  }

  .header {
    padding: 30px 30px;
  }
  .header__nav-logo--black {
    top: 60px;
  }
}

@media (max-width: 440px) {
  .header {
    padding: 30px 10px;
  }
}

@keyframes slide {
  0% {
    transform: translateX(320px);
  }

  100% {
    transform: translateX(0px);
  }
}
