.hero {
  background-image: url('/src/assets/images/start-screen-background.jpg');
  background-size: cover;
  background: url('/src/assets/images/noise_transparent@2x.png'),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%) #211f20;
  padding-top: 60px;

  &__content {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: var(--color-light-xl);
    // max-width: 310px;
    white-space: nowrap;
  }
  &__descr {
    margin-top: 42px;
    color: var(--color-dark-s);
  }
  &__content-text {
    max-width: 460px;
  }
  &__button {
    margin-top: 42px;
    display: inline-flex;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
  }
}

.about {
  background-color: var(--color-light-xl);
  display: flex;
  align-items: center;

  &__title {
    color: var(--color-dark-l);
  }
  &__descr {
    color: var(--color-dark-xl);
  }

  &__container {
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    gap: 120px;
    justify-content: space-around;
  }
  &__text {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

.pets {
  background-color: var(--color-light-l);
  display: flex;
  align-items: center;
  &__title {
    color: var(--color-dark-l);

    text-align: center;
  }
  &__container {
    position: relative;
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.pets-swiper {
  margin: 60px 105px;

  width: 990px;
  overflow: hidden;
  &__prev-butt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    padding: 0 !important;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &__next-butt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    padding: 0 !important;
    height: 52px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
}

.help {
  background-color: var(--color-light-xl);
  &__container {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
  }
  &__title {
    color: var(--color-dark-l);

    text-align: center;
  }
  &__list {
    max-width: 1026px;
    margin: 60px auto 0px;
    display: flex;
    justify-content: space-evenly;
    column-gap: 119px;
    row-gap: 55px;
    flex-wrap: wrap;
  }
  &__item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    &-text {
      display: inline-block;
      width: fit-content;
    }
  }
  &__item-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
  }
}

.donation {
  background-color: var(--color-light-l);
  display: flex;
  align-items: center;
  & h5 {
    color: var(--color-dark-l);
  }
  &__title {
    color: var(--color-dark-l);
  }
  &__container {
    max-width: 380px;
    padding-top: 80px;
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin: 0 auto;
  }
  &__content {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    gap: 20px;
  }
  &__img {
    width: 505px;
    height: auto;
  }
}

.bank-number {
  white-space: nowrap;
  max-width: 349px;
  padding: 10px 15px;
  display: inline-flex;
  align-items: center;
  background: var(--color-primary);
  border-radius: 9px;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  color: var(--color-dark-l);
  gap: 15px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  cursor: pointer;
}

.legal-info {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-dark-m);
}

@media (max-width: 1279px) {
  .hero {
    &__container {
      margin-top: 0px;
    }
    padding-top: 30px;
  }
  .hero {
    &__content {
      flex-direction: column;
      align-items: center;
    }
    &__content-text {
      margin-bottom: 100px;
    }
    &__img {
      align-self: end;
      display: flex;
      justify-content: flex-end;
      & img {
        height: auto;
        width: 80%;
        max-width: 698px;
        align-self: end;
      }
    }
  }
  .pets__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 0;
    margin-top: 80px;
    margin-bottom: 100px;
  }
  .about {
    &__title {
      text-align: start;
    }
  }
  .help {
    &__title {
      text-align: center;
    }
    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 60px;
      row-gap: 55px;
    }
    &__item-text {
      white-space: nowrap;
    }
  }
  .pets-swiper {
    width: 580px !important;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 60px;
  }
  .pets__button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 260px;
  }
  .about {
    &__container {
      flex-direction: column-reverse;
      align-items: center;
    }
    &__img {
      width: 300px;
    }
  }
  .donation {
    &__container {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
@media (max-width: 767px) {
  .about {
    &__title {
      text-align: start;
    }
    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      & img {
        height: auto;
        width: 80%;
        max-width: 260px;
      }
    }
  }
  .hero {
    text-align: center;
    padding: 0;
  }

  .hero__container {
    padding: 0;
    max-width: 1200px;
  }
  .header__container {
    max-width: 1200px;
  }
  .hero__content {
    padding: 0 10px;
  }
  .pets-swiper__wrapper {
    margin-bottom: 114px;
  }
  .pets-swiper {
    width: 270px !important;
    margin: 0 auto;
    margin-bottom: 60px;
    margin-top: 60px;
    &__next-butt {
      top: auto;
      bottom: 94px;
      transform: translateY(0);
      transform: translateX(calc(-50% + 40px));
      left: 50%;
    }
    &__prev-butt {
      top: auto;
      bottom: 94px;
      transform: translateY(0);
      transform: translateX(calc(-50% - 40px));
      left: 50%;
    }
  }

  .pets__title {
    max-width: 390px;
  }

  .help {
    &__list {
      margin: 60px 39px 0px 39px;
      align-self: center;
      display: inline-flex;
      column-gap: 30px;
      // grid-template-columns: 1fr 1fr 1fr;
      // align-content: center;
      justify-content: space-evenly;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 30px;

      & li {
        width: 170px;
      }

      & h4 {
        word-wrap: nowrap;
      }
    }
  }

  .about__text {
    & h3 {
      white-space: nowrap;
    }
  }
  .donation {
    &__img {
      width: 80%;
      height: auto;
    }
  }
}

@media (max-width: 390px) {
  .hero {
    &__title {
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 130%;
    }
  }
  .donation {
    &__title {
      text-align: center;
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 130%;
    }
    & h5 {
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 110%;
      line-height: 160%;
      letter-spacing: normal;
      text-align: center;
      white-space: nowrap;
    }
    & h4 {
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 110%;
    }
    & p {
      text-align: justify;
      max-width: 280px;
    }
  }
  .help {
    &__list {
      margin: 60px auto 0px auto;
      width: 290px;

      // grid-template-columns: 1fr 1fr 1fr;
      // align-content: center;
      justify-content: flex-start;

      display: grid;
      grid-template-columns: auto auto;
      column-gap: 30px !important;
      row-gap: 30px;

      & li {
        width: 130px;
      }

      & h4 {
        word-wrap: nowrap;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
      }
    }
  }
  .about__text {
    & h3 {
      text-align: center;
      width: 300px;
      white-space: nowrap;
    }
    & p {
      padding-left: 15px;
      padding-right: 15px;
      text-align: justify;
    }
  }
  .pets__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
  }

  .help__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
  }
}
